.aboutMe {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.theGrid {
  min-height: 70vh;
  display: grid;
  grid-template-columns: 55% 45%;
  grid-template-rows: 85% 15%;
}
.left {
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.right {
  grid-column: 2 / span 1;
  grid-row: 1 / span 1;
  display: flex;
  align-items: center;
}
.image {
  width: 90%;
  margin-left: 10%;
  height: auto;
  border-radius: 5px;
  opacity: .6;
}
.image:hover {
  opacity: 1;
  transform: scale(1.025) skewY(-2deg);
}
.technologies {
  grid-row: 2 / span 1;
  grid-column: 1 / span 2;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  column-gap: 5px;
  row-gap: 10px;
}
.number {
  color: var(--color-primary);
}
.item {
  text-align: center;
  color: var(--color-dark);
  background-color: var(--color-light-grey);
  font-weight: bold;
  padding: 5% 5% 5% 5%;
  width: 50%;
  justify-self: center;
}
.title {
  font-size: 2rem;
  padding: 0;
  margin: 0 0 5px 0;
}
.text {
  overflow-wrap: break-word;
  font-size: 1.3rem;
  font-weight: bold;
  color: var(--color-light);
}

@media only screen and (max-width: 750px) {
  .theGrid {
    display: flex;
    flex-direction: column;
  }
  .text {
    font-size: 1.05rem;
    overflow-wrap: break-word;
    text-align: center;
  }
  .item {
    padding: 2px;
    font-size: .8rem;
  }
  .left {
    width: 95%;
  }
  .right {
    display: flex;
    justify-content: center;
  }
  .technologies {
    display: flex;
    justify-content: space-evenly;
    margin: 10px 0 10px 0;
  }
  .image {
    max-width: 230px;
    height: auto;
    margin: 0;
  }
}

@media only screen and (max-width: 650px) { 
  .text {
    font-size: .95em;
    overflow-wrap: break-word;
    padding: 0;
    margin: 0;
  }
  .item {
    padding: 0px;
    font-size: .50em;
  }
  .technologies {
    height: 50%;
  }
  .image {
    max-width: 150px;
    height: auto;
  }
}

@media only screen and (max-height: 700px) {
  .aboutMe {
    max-height: auto;
  }
  .theGrid {
    min-height: 100%;
  }
  .title {
    margin: 0 0 15px 0;
  }
  .text {
    font-size: .95rem;
  }
}