.theBlog {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.title {
  font-size: 2rem;
  padding: 0;
  margin: 0 0 5px 0;
}
.number {
  color: var(--color-tron);
}
.theGrid {
  margin-top: 25px;
  min-height: 70vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  row-gap:25px;
}
.blogPost {
  overflow: hidden;
  border-radius: 5px;
  text-align: center;
  border-width: 2.5px;
  border-style: solid;
  display: flex;
  flex-direction: column;
  justify-self: center;
  max-width: 360px;
}
.postTitle {
  text-align: left;
  font-size: 1.3rem;
  margin: 0 0 5px 0;
  padding: 4px 0 4px 5px;
  border-bottom: 2px black solid;
}
.blogPost img {
  max-width: 100%;
  opacity: .65;
}

.caption {
  margin-top: -4px;
  font-size: 1rem;
  font-family: var(--font-text);
  padding: 5px;
  height: 100%;
  opacity: .80;
}
@media only screen and (max-width: 650px) {
  .theGrid {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .blogPost {
    max-width: 260px;
  }
  .blogPost img {
    max-width: 260px;
    height: auto;
  }
  .caption {
    max-width: 260px;
    font-size: .85rem;
  }
}