.contactBox {
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.title {
  font-size: 2rem;
  color: var(--color-title);
}
.number {
  color: var(--color-tron);
}
.contactMe {
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: var(--font-text);
}
.letsChat {
  font-size: 1.5rem;
  text-align: center;
  font-family: var(--font-text);
  margin: 15px;
}
.or {
  margin: 0;
  font-family: var(--font-text);
}
.hearIt {
  font-size: 2rem;
  text-align: center;
  margin: 0;
  padding: 0;
}
.top {
  width: 100%;
  display: grid;
  grid-template-columns: 49% 2% 49%;
}
.form {
  display: flex;
  flex-direction: column;
  width: 70%;
  justify-content: space-evenly;
  align-items: center;
}
.inputOne {
  height: 30px;
  margin: 0;
  font-size: 22px;
  grid-column: 1 / span 1;
  background-color: inherit;
  font-family: var(--font-text);
  border-color: var(--color-primary);
}
.inputTwo {
  height: 30px;
  margin: 0;
  font-size: 22px;
  grid-column: 3 / span 1;
  background-color: inherit;
  font-family: var(--font-text);
  border-color: var(--color-primary);
}
/* .input:focus {} */
.textArea {
  resize: none;
  font-size: 22px;
  background-color: inherit;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: var(--font-text);
  border-color: var(--color-primary);
}
.textArea:focus, .inputTwo:focus, .inputOne:focus{
  outline: none;
}
.button {
  background-color: inherit;
  border: 2px solid var(--color-primary);
  border-radius: 5px;
  padding: 10px;
  color: var(--color-light);
}
.logo {
  background-color: var(--color-tron);
  border-radius: 5px;
  margin-bottom: -4px;
}
.linkedLink {
  text-decoration: none;
  text-decoration-line: underline;
}

@media only screen and (max-width: 700px) {
  .form {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .inputOne, .inputTwo {
    font-size: 28px !important;
  }
  .textArea {
    font-size: 28px !important;
  }
}