.edu {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.title {
  font-size: 2rem;
  color: var(--color-title);
}
.number {
  color: var(--color-primary);
}
.iframeBox {
  width: 100%;
  height: 75vh;
}
.theIframe {
  width: 98%;
  height: 100%;
  outline: none;
}

@media only screen  and (max-width: 700px){
  .iframeBox {
    background-color: aqua;
    width: 88%;
  }
}