.introMe {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.hi {
  /* color: var(--color-light); */
  font-weight: bold;
  font-size: 1rem;
  margin: 0;
}
.name {
  /* color: var(--color-primary); */
  font-style: italic;
  font-size: 4rem;
  padding: 0;
  margin: 0 0 .5rem 0;
}
.nameTwo {
  color: var(--color-batman);
  font-size: 4rem;
  padding: 0;
  margin: 0 0 .5rem 0;
}
.text {
  /* color: var(--color-light); */
  font-weight: bold;
  width: 85%;
  word-wrap: normal;
}

@media only screen and  (max-width: 800px) {
  .name {
    font-size: 2.5rem;
  }
  .nameTwo {
    font-size: 2.5rem;
  }
  .text {
    font-size: .95rem;
  }
}
@media only screen and  (max-height: 550px) {
  .name {
    font-size: 2.0rem;
  }
  .nameTwo {
    font-size: 2.0rem;
  }
  .text {
    font-size: .85rem;
  }
}