.work {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.theGrid {
  min-height: 70vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  grid-row-gap: 10px;
  align-items: center;
  justify-items: center;
}
.title {
  font-size: 2rem;
  display: flex;
  color: var(--color-title);
}
.number {
  color: var(--color-tron);
}

@media only screen and (max-height: 700px) {
  .title {
    margin: 0 0 10px 0;
  }
  .theGrid {
    grid-row-gap: 8px;
  }
}