.theAside {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  height: 80%;
  overflow: hidden;
  color: var(--color-primary);
  background-color: inherit;
}
.theAsideContrast {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  height: 80%;
  overflow: hidden;
  color: var(--color-primary);
  background-color: inherit;
}
.anchor {
  margin: 10px 0 0 0;
}
.socialMedia {
  writing-mode: vertical-rl !important;
}
@media only screen and (max-height: 550px){
  .theAside {
    height: 80%;
  }
}