.hero {
  display: grid;
  grid-template-columns: 8% auto 8%;
  grid-template-rows: 1fr;
  background-color: var(--color-secondary);
}

.left {
  grid-column: 1 / span 1;
}
.middle {
  grid-column: 2 / span 1;
}

.right {
  grid-column: 3 / span 1;
}