.middleScroll {
  max-height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-background);
}
.middleScrollContrast {
  max-height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-light);
}
.ref {
  margin: 0;
  padding: 0;
}
.gap {
  width: 97%;
  max-width: 850px;
}
@media only screen and (max-width: 800px) {
  .middleScroll {
    max-height: 95vh;
  }
  .middleScrollContrast {
    max-height: 95vh;
  }
}