.navigation {
  width: 100%;
  grid-row: 1 / span 1;
  grid-column: 1 / span 3;
  display: grid;
  grid-template-columns: 10% auto 60%;
  padding: 0;
  margin: 0;
  max-height: 10vh;
  min-height: none;
  position: fixed;
  top: 0;
  background-color: var(--color-background);
  z-index: 3;
}
.navigationContrast {
  width: 100%;
  grid-row: 1 / span 1;
  grid-column: 1 / span 3;
  display: grid;
  grid-template-columns: 10% auto 60%;
  padding: 0;
  margin: 0;
  max-height: 10vh;
  min-height: none;
  position: fixed;
  top: 0;
  background-color: var(--color-dark);
  z-index: 3;
}

.navList {
  grid-column: 3 / span 1;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.navItem {
  display: inline;
  font-size: 1rem;
  font-weight: bold;
  color: var(--color-light);
}
.navItem:hover {
  cursor: pointer;
}
.number {
  color: var(--color-primary);
}

.imageDiv {
  grid-column: 1 / span 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.image {
  width: 40px;
  height: auto;
}
.button {
  background-color: inherit;
  border: 2px solid var(--color-primary);
  border-radius: 5px;
  padding: 10px;
  color: var(--color-light);
}
.buttonColor {
  background-color: inherit;
  border: 2px solid var(--color-primary);
  border-radius: 5px;
  padding: 10px;
  color: var(--color-light);
}

@media only screen and (max-width: 800px) {
  .navigation {
    background-color: var(--color-primary);
    grid-template-columns: 10% 90%;
    min-height: 7vh;
  }
  .button {
    border: 1px solid var(--color-dark);
    background-color: var(--color-dark);
    color: var(--color-text);
  }
  .navList {
    grid-column: 2 / span 1;
  }
  .navItem {
    font-size: .75rem;
    color: var(--color-dark);
  }
  .number {
    display: none;
  }
}
@media only screen and (max-height: 550px){
  .button {
    padding: 0px;
  }
  .navigation {
    max-height: none;
    min-height: 8vh;
  }
}