.navigation {
  width: 100%;
  display: grid;
  grid-template-columns: 10% auto 60%;
  padding: 0;
  margin: 0;
  max-height: 10vh;
  min-height: none;
  position: fixed;
  top: 0;
  background-color: var(--color-background);
  z-index: 3;
}

.navList {
  grid-column: 3 / span 1;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.navItem {
  display: inline;
  font-size: 1rem;
  font-weight: bold;
  color: var(--color-light);
}
.navItem:hover {
  cursor: pointer;
}
.number {
  color: var(--color-tron);
}

.imageDiv {
  grid-column: 1 / span 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.image {
  width: 40px;
  height: auto;
}
.button {
  background-color: inherit;
  border: 2px solid var(--color-tron);
  border-radius: 5px;
  padding: 10px;
  color: var(--color-light);
}
.button:hover {
  /* -moz-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease; */
  box-shadow: 2px 4px 27px -10px var(--color-tron);
  /* background: var(--color-tron); */
  /* color: black; */
}

.buttonColor {
  background-color: inherit;
  border: 2px solid var(--color-tron);
  border-radius: 5px;
  padding: 10px;
  color: var(--color-light);
}
.buttonColor:hover {
  /* -moz-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease; */
  box-shadow: 2px 4px 27px -10px var(--color-tron);
  /* background: var(--color-tron); */
  /* color: black; */
}

@media only screen and (max-width: 800px) {
  .navigation {
    /* background-color: var(--color-primary); */
    grid-template-columns: 13% 87%;
    min-height: 7vh;
  }
  .navList {
    grid-column: 2 / span 1;
    padding: 0 0 0 15px;
  }
  .navItem {
    font-size: 0.75rem;
    color: var(--color-light);
  }
  .number {
    display: none;
  }
}
@media only screen and (max-height: 550px) {
  .button {
    padding: 0px;
  }
  .navigation {
    max-height: none;
    min-height: 8vh;
  }
  .buttonColor {
    padding: 0px;
  }
}
@media (hover:none), (hover:on-demand) {
  .button:hover{ 
    box-shadow: none;
    background: inherit;
    color: var(--color-light);   
  }
  .buttonColor:hover{
    box-shadow: none;
    background: inherit;
    color: var(--color-light); 
  }
}