.navigation {
  width: 100%;
  display: grid;
  grid-template-columns: 10% auto 70%;
  padding: 0;
  margin: 0;
  max-height: 10vh;
  min-height: none;
  position: fixed;
  top: 0;
  z-index: 3;
  font-family: var(--font-text);
}
/* Main Div for Desktop */
.navList {
  grid-column: 3 / span 1;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
/* Main Div for Mobile */
.flexMobileRight {
  display: flex;
  justify-content: flex-end;
}
.navListMobile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 25%;
  margin-right: 5%;
}
.drawer {
  width: 100%;
  height: 85%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.drawer span {
  min-width: 52%;
  font-size: 2rem;
  color: var(--color-light);
  border-radius: 5px;
  border: 2px solid var(--color-tron);
  text-align: center;
  box-shadow: 2px 4px 27px -10px var(--color-light);
}
#specialSpan {
  background-color: unset;
  width: 100%;
  text-align: center;
  border: none;
  border-radius: none;
  box-shadow: none;
}
.navItem {
  display: inline;
  font-size: 1rem;
  color: var(--color-light);
  user-select: none;
}
.navItem:hover {
  cursor: pointer;
  color: var(--color-tron);
}

.hamburgerItem {
  display: inline;
  font-size: 1rem;
  color: var(--color-light);
}
.navItemSide {
  display: inline;
  font-size: 2rem;
  color: var(--color-tron);
}
.number {
  color: var(--color-tron);
}
.imageDiv {
  grid-column: 1 / span 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.image {
  width: 40px;
  height: auto;
}
.button {
  background-color: inherit;
  border: 2px solid var(--color-tron);
  border-radius: 5px;
  padding: 10px;
  color: var(--color-light);
}
.buttonDrawer {
  background-color: inherit;
  border: 2px solid var(--color-tron);
  border-radius: 5px;
  padding: 8px 10px 8px 10px;
  color: var(--color-light);
  box-shadow: 2px 4px 27px -10px var(--color-light);
  font-size: 1.8rem;
}
.button:hover {
  /* -moz-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  */
  /* transition: all 0.5s ease; */
  box-shadow: 2px 4px 20px -8px var(--color-tron);
  /* background: var(--color-tron); */
  /* color: black; */
}
.side {
  width: 88%;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 200%;
  transition: 700ms;
}
.activeSide {
  width: 88%;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 12%;
  transition: 400ms;
}
.toggle {
  --width: 50px;
  --height: calc(var(--width) / 2);
  --border-radius: calc(var(--height) / 2);
  display: inline-block;
  cursor: pointer;
}
.toggleInput {
  display: none;
}
.toggleFill {
  position: relative;
  width: var(--width);
  height: var(--height);
  border-radius: var(--border-radius);
  background: #dddddd;
  transition: background 0.2s;
}
.toggleInput:checked ~ .toggleFill {
  background: var(--color-tron);
}
.toggleFill::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: var(--height);
  width: var(--height);
  background: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  border-radius: var(--border-radius);
  transition: transform 0.2s;
}
.toggleInput:checked ~ .toggleFill::after {
  transform: translateX(var(--height));
}
.toggleFillSpanOne {
  position: absolute;
  left: 5px;
  bottom: 7px;
  color: black;
  font-size: 9px;
  text-decoration: none;
  user-select: none;
}
.toggleFillSpan {
  color: black;
  position: absolute;
  left: 28px;
  bottom: 7px;
  font-size: 9px;
  text-decoration: none;
  user-select: none;
}
@media only screen and (max-width: 880px) {
  .navigation {
    grid-template-columns: 13% 87%;
    min-height: 7vh;
  }
  .navList {
    grid-column: 2 / span 1;
    padding: 0 0 0 15px;
  }
  .navListMobile {
    grid-column: 2 / span1;
    padding: 0 0 0 15px;
  }
  .navItem {
    font-size: 0.75rem;
    color: var(--color-light);
  }
  .number {
    display: none;
  }
}
@media only screen and (max-height: 550px) {
  .button {
    padding: 2px;
  }
  .navigation {
    max-height: none;
    min-height: 8vh;
  }
  .buttonColor {
    padding: 2px;
  }
}
@media (hover: none), (hover: on-demand) {
  .button:hover {
    box-shadow: none;
    background: inherit;
    color: var(--color-light);
  }
  .buttonColor:hover {
    box-shadow: none;
    background: inherit;
    color: var(--color-light);
  }
}
