.appRec {
  min-height: 30vh;
  display: grid;
  grid-template-columns: 55% 45%;
  grid-template-rows: 1fr;
  max-width: 730px;
}
.smallAppRec {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}
/* liked this color:  rgba(117, 19, 93, 0.73) */
.imageBox {
  grid-column: 1 / span 1;
  background: linear-gradient(
      to bottom,
      rgba(245, 246, 252, 0.52),
      rgba(18, 223, 226, 0.718)
    ),
  var(--image-one) center no-repeat;
  background-size: contain !important;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  border-radius: 3px;
  /* filter: drop-shadow(0 9px 5px var(--color-third)); */
  height: 90%;
}
.imageBoxContrast {
  grid-column: 1 / span 1;
  background: var(--image-one) center no-repeat;
  background-size: contain !important;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  border-radius: 3px;
  /* filter: drop-shadow(0 9px 5px var(--color-third)); */
  height: 90%;
}
.imageBox:hover {
  background: var(--image-one) center no-repeat;
  background-size: contain !important;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  filter: none;
}
.imageBoxTwo {
  grid-column: 1 / span 1;
  background: linear-gradient(
      to bottom,
      rgba(245, 246, 252, 0.52),
      rgba(18, 223, 226, 0.718)
    ),
  var(--image-two) center no-repeat;
  background-size: contain !important;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  border-radius: 3px;
  /* filter: drop-shadow(0 9px 5px var(--color-third)); */
  height: 95%;
}
.imageBoxContrastTwo {
  grid-column: 1 / span 1;
  background: var(--image-two) center no-repeat;
  background-size: contain !important;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  border-radius: 3px;
  /* filter: drop-shadow(0 9px 5px var(--color-third)); */
  height: 95%;
}
.imageBoxTwo:hover {
  background: var(--image-two) center no-repeat;
  background-size: contain !important;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  filter: none;
}

.featured {
  display: flex;
  margin: 0 0 1% 0;
  justify-self: flex-end;
}
.titleLink {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  text-decoration: none;
}
.title {
  margin: 0;
}
.description {
  color: var(--color-black);
  background-color: var(--color-light-grey);
  opacity: .85;
  border-radius: 4px;
  align-self: center;
  width: 120%;
  text-align: center;
  margin-left: -21%;
  z-index: 1;
  padding-top: 5px;
  padding-left: 2px;
  padding-bottom: 5px;
  font-family: var(--font-text);
}
.tech {
  justify-content: space-evenly;
  padding-left: 1.5%;
  font-family: var(--font-text);
}
.links {
  display: flex;
  justify-self: flex-end;
  justify-content: space-evenly;
  width: 25%;
}
.contentBox {
  /* background-color: pink; */
  grid-column: 2 / span 1;
  min-height: 100%;
  display: grid;
  grid-template-rows: 10% 15% 40% 15% 15%;
}
.smallContentBox {
  background: linear-gradient(to bottom, rgba(8, 147, 175, 0.9), #0d0e0fd2),
  var(--image-one) center no-repeat;
  background-size: contain !important;
}
/* liked this color too */
.smallContentBoxTwo {
  background: linear-gradient(to bottom, rgba(9, 19, 207, 0.9), #0d0e0fd2),
    var(--image-two) center no-repeat;
  background-size: contain !important;
}
.anchor {
  margin: 10px 0 0 0;
}
.anchorWrapper {
  text-decoration: none;
  all: unset;
}
.anchorWrapper:hover {
  cursor: pointer;
}
@media only screen and (max-width: 700px) {
  .appRec {
    min-height: 30vh;
  }
  .title {
    margin: 0 15px 0 0;
  }
  .description {
    color: var(--color-light);
    background-color: var(--color-secondary-off);
    border-radius: 2px;
    align-self: center;
    width: 98%;
    text-align: center;
    margin-left: 0%;
    z-index: 1;
    padding: 2px;
  }
  .featured {
    display: none;
  }
  .links {
    margin-left: 72%;
    margin-bottom: 2%;
    justify-content: space-evenly;
    width: 25%;
    background-color: white;
    border-radius: 5px;
    opacity: .40;
  }
}
